/src/.vs/
/src/packages/
/src/TinyGPSPlusNF/bin/
/src/TinyGPSPlusNF/obj/
/src/UnitTests/bin/
/src/UnitTests/obj/
/examples/BasicExample/BasicExample/obj/*
/examples/BasicExample/packages/*
/examples/BasicExample/.vs/*
/examples/BasicExample/BasicExample/bin/*
/examples/DeviceExample/DeviceExample/obj/*
/examples/DeviceExample/packages/*
/examples/DeviceExample/.vs/*
/examples/DeviceExample/DeviceExample/bin/*
