/src/.vs/
/src/packages/
/src/TinyGPSPlusNF/bin/
/src/TinyGPSPlusNF/obj/
/src/UnitTests/bin/
/src/UnitTests/obj/
/examples/*/*/obj/*
/examples/*/packages/*
/examples/*/.vs/*
/examples/*/*/bin/*
